{%extends 'layout.html' %}
{% block body%}
<div class="container-fluid d-flex justify-content-center " style="min-height: 80vh;">
    <div class="col-md-6">
        <h2 class="card-title text-center">Edit Product</h2>
    
        <div class="card">
    
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="/editproduct/{{product.id}}">
                        <div class="mb-3">
                            <label for="adm1" class="form-label">Select Categroy:</label>
                            <select class="form-select" id="category" name="category" required>
                                {% for ctg in category %}
                                    <option value="{{ ctg.id }}" {% if ctg.id == product.Category.id %}selected{% endif %}>{{ ctg.Name }}</option>
                                {% endfor %}
                            </select>
                            
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Edit Product:</label>
                            <input type="text" class="form-control" id="name" name="name" value="{{product.Name}}" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description:</label>
                            <input type="text" class="form-control" id="description" name="description" value="{{product.Description}}" required>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">Price:</label>
                            <input type="number" class="form-control" id="price" name="price" value="{{product.Price}}" required>
                        </div>
                        <div class="mb-3">
                            <label for="quantity" class="form-label">Quantity:</label>
                            <input type="number" class="form-control" id="quantity" name="quantity" value="{{product.Quantity}}" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-warning edit-button" type="button">
                              <i class="fas fa-edit"></i> Edit
                          </button>
                          
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}